<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <div class="main-content">
        <p>{{error}}</p>
    </div>
    {{>footer}}
</body>
</html>