<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js" ></script>
</head>
<body>
    {{>header}}
    <div class="main-content">
        <img class="profile-img" src="/img/profile.jpg" />
        <p>{{author}}</p>
    </div>
    {{>footer}}
</body>
</html>