* {
    box-sizing: border-box;
}

body {
    color: #333333;
    max-width: 80%px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header h1 {
    font-size: 10vw;
}

header a {
    color: #888888;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border: #888888 outset 2px;
    border-radius: 12px;
}

.main-content {
    flex-grow: 1;
    text-align: center;
}

.profile-img {
    width: 250px;
}

.weather-img {
    width: 150px;
    border-radius: 100%;
    border: #888888 groove 2px;
}

footer {
    border-top: #ebe6e6 solid 1px;
    color: #888888;
    margin-top: 9px;
    padding: 15px;
}


